
<%- include('header'); -%>

<div id="middle-container">
<div class="container-fluid hero-content">
    <div class="row main-items">
    <div class="col-md-6 col-sm-12 text-center" data-aos="fade-left">
        <div class="bank-img-div">
        <img class="bank-img" src="images/online.png" alt="img-showing-money-transfer">
        </div>
    </div>
    <div class="col-md-6 col-sm-12 text-center" data-aos="fade-up">
        <h1 class="fsthead">Money transaction</h1>
        <p class="fstsec">Easy way to transfer money to your friend's from any where</p>
        <br>
        <br>
        <a class="startbtn" href="/customers">Lets's Start</a>
    </div>
    </div>
</div>
</div>

<%- include('footer'); -%>
