
h2{
  font-size: 3rem;
}
.container-fluid{
  padding: 0;
  margin:0;
}
.navbar{
  padding: 1rem 1rem;
  align-items: center;
}
.nav-photo{
  width:1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  margin-left: 2rem;
}
.startbtn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.startbtn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.fsthead{
  font-size: 3rem;
  font-weight: bold;
}
.fstsec{
  margin-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size:1.75rem;
}
.text-center{
  margin-top: 3rem;
  text-align: center;
  padding: 5%;
  margin-bottom:2rem;
}

.main-items{
  width:100%;
}

.bank-img{
    width: 22rem;

}

img{
  vertical-align: middle;
  border-style: none;
}

.copyright{
  color:#EAF6F6;
  font-size: 1rem;
  padding: 30px 0;
}

#bottom-container{
  margin-top: 0.5rem;
  background-color: #242424;
  text-align: center;
  padding: 1%;
}
.footer-link{
  margin: 1rem;
  padding-top: 40px;
  size: 1rem;
  margin-top: 2rem;
}
.ccontainer{
   width:70%;
   margin-left:15%;
   margin-right:15%;
   margin-bottom:5%;
   text-align: center;
}
.tinfo{
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 2rem;
}
.tname{
  font-weight: bold;
}
.tbc{
  margin-top: 30px;
  margin-left: 1%;
}
.tbutton{
  text-align: center;
  margin-left: 20%;
  margin-bottom: 2%;
}
.vcontainer{
  padding: 8%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.1rem;
}
.vname{
  font-weight: bold;
  font-size: 1.5rem;
}
.vbutton{
  padding: 10px;
  margin-left: 5rem;
}
.vd{
  color: black;
  font-weight: bold;
  background-color: lightgrey;
}
.vinfo{
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 2rem;
}
.vna{
  margin-left: 4%;
  color: black;
  background-color: lightgrey;
}
.vbal{
  margin-left: 4%;
  color: black;
  background-color: lightgrey;
}
.cheading{
  margin-left:15%;
  font-family: 'Orelega One', cursive;
  margin-top: 4%;
  padding-bottom: 40px;
}
.tcontainer1{
  width: 60%;
    height: 250px;
}
.tinfo1{
  margin-top: 3%;
  margin-left: 30%;
}
.tinfo2{
  margin-top: 3%;
  margin-left: 30%;
}
.trans{
  margin-top: 80px;
  margin-bottom:10px;
}
.theader1{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
.theader2{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
.viewheader{
  padding: 20px;
}
.tcontainer2{
  width: 60%;
    height: 230px;
}
/* .centreBox{
  margin-right: 50px;
} */

.amountButton{
  width: 218px;
}

.nameButton{
  width: 220px;
  height: 37px;
}

.footer{
  padding-top: 50px;
}

.containerSuccess{
  text-align: center;
  margin-top: 20%;
  color: #29bb89;
}

.containerFailure{
  text-align: center;
  margin-top: 20%;
  color: #ce1212;
}
